name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  python_compatibility_test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install UV
        run: |
          python -m pip install uv==0.5.8

      - name: Install dependencies
        run: |
          uv sync

      - name: Run tests
        run: |
          uv run python tests/run.py

  django_compatibility_test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        django-version: ["4.2", "5.2", "6.0"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install UV
        run: |
          python -m pip install uv==0.5.8

      - name: Install dependencies
        run: |
          uv sync

      - name: Install Django ${{ matrix.django-version }}
        run: |
          uv add "django==${{ matrix.django-version }}" --frozen

      - name: Run tests
        run: |
          uv run python tests/run.py

  pillow_compatibility_test:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        pillow-version: ["10.4.0", "11.0.0"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install UV
        run: |
          python -m pip install uv==0.5.8

      - name: Install dependencies
        run: |
          uv sync

      - name: Install Pillow ${{ matrix.pillow-version }}
        run: |
          uv add "pillow==${{ matrix.pillow-version }}" --frozen

      - name: Run tests
        run: |
          uv run python tests/run.py
